<ion-header>
  <ion-toolbar>
    <ion-title>Add/Edit Party</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="onDismissModal()">Close &nbsp;
        <ion-icon name="close-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid size="lg">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center my-content">
        <ion-card class="my-content">
          <ion-card-content>
            <form [formGroup]="partyForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
              <ion-item>
                <ion-label position="floating">Party Name </ion-label>
                <ion-input color="medium" type="text" clearInput placeholder="Alliance for Democracy ..."
                  formControlName="name">
                  <ion-icon color="success" name="flag" size="large"></ion-icon> &nbsp;
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Initials </ion-label>
                <ion-input color="warning" type="text" clearInput placeholder="AAA, BB, Z.Z" formControlName="initials">
                  <ion-icon color="success" name="at" size="large"></ion-icon> &nbsp;
                </ion-input>
              </ion-item><br>

              <ion-item>
                <ion-label position="floating">Logo </ion-label><br>
                <ion-input type="file" formControlName="logo">
                  <ion-icon color="success" slot="end" name="image" size="large"></ion-icon> &nbsp;
                </ion-input>
              </ion-item> <br>

              <ion-item>
                <ion-label position="floating">Restrictions </ion-label><br>
                <ion-input type="text" multiple placeholder="this" formControlName="restrictions">
                  <ion-icon color="success" name="lock" size="large"></ion-icon> &nbsp;
                </ion-input>
              </ion-item>
              <br><br>

              <ion-button expand="full" fill="outline" type="submit" shape="round" color="success"
                [disabled]="!partyForm.valid">Create
              </ion-button>
            </form>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>