<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="dismissLogin()">
      <ion-icon name="arrow-left-circle"></ion-icon>
    </ion-button>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">VIN:</ion-label>
      <ion-input formControlName="vin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contact:</ion-label>
      <ion-input formControlName="contact"></ion-input>
    </ion-item>

    <ion-button type="submit" color="primary" expand="full" [disabled]="!loginForm.valid">login</ion-button>
  </form>

  <p text-center>Already Logged in? enter OTP sent to your contact</p>
  <ion-button expand="full" color="blue" (click)="verifyOTP()">Enter OTP</ion-button>
</ion-content>
