<ion-header>
  <ion-toolbar>
    <ion-title>
      Voting
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid fixed="lg">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size="12">

        <ion-card *ngFor="let item of Options; let odd = odd; let even = even" [ngClass]="{ even: even, odd: odd }">
          <ion-card-header>
            <ion-card-title>
              <ion-button expand="full" fill="outline" shape="round" [routerLink]="['elections', item.code.toLowerCase()]">
                {{ item.type }} </ion-button>
            </ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-button expand="full" fill="outline" shape="round" color="success" [routerLink]="['elections/audit']">
                Verify/Audit Vote</ion-button>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>