<ion-header>
  <ion-toolbar>
    <ion-title>
      More
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-grid fixed="lg">
    <ion-col size="12" class="ion-justify-content-center ion-align-items-center">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-button [routerLink]="['faqs']" fill="outline" expand="full" shape="round">Frequently Asked Questions
            </ion-button>
          </ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-button [routerLink]="['bugs']" fill="outline" expand="full" shape="round">Report bugs</ion-button>
          </ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-button (click)="toggleAdmin()" fill="outline" expand="full" shape="round">
              Settings &nbsp;  &nbsp;  <ion-badge color="medium" *ngIf="toggle > 9"> {{ toggle }} </ion-badge>
            </ion-button>
          </ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>App Info</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><ion-icon name="type"></ion-icon>   &nbsp;  <span class="bold">Version: </span>: {{ version }}</p>
          <p><ion-icon name="build"></ion-icon>   &nbsp;  <span class="bold">Build: </span>: {{ build }}</p>
          <p><ion-icon name="secret"></ion-icon>   &nbsp;  <span class="bold">Hash: </span>: {{ hash }}</p>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="toggle == 15">
        <ion-card-header>
          <ion-card-title>
            <ion-button [routerLink]="['/admin']" fill="outline" color="dark" expand="full" shape="round">Login to Admin Console
            </ion-button>
          </ion-card-title>
        </ion-card-header>
      </ion-card>

    </ion-col>
  </ion-grid>

</ion-content>